@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #6b705c; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2rem;
  flex: 1;
}

h1 {
  font-size: 3rem;
  color: #cb997e
}

a {
  color: #ddbea9;
}
